{% extends 'base.html' %}

{% block content %}
  <h1>Add New Link / Add zip file with links</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post">
    <label for="url">Url</label><br>
    <input type="text" id="url" name="url"><br>
    <input type="submit" value="Submit">
  </form>
  <form method="post" enctype=multipart/form-data>
    <label for="url">Urls from zip file</label><br>
    <input type="file" name="file"><br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}