{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Monitor Application</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    {% block head %}{% endblock %}
    <style>
        pre {
            background: #ddd;
            padding: 10px;
        }
        h2 {
            margin-top: 20px;
        }
        footer {
            margin: 20px;
        }
    </style>
</head>
<body data-turbo="false">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                {{ render_nav_item('pages.links', 'Links') }}
                {{ render_nav_item('pages.new_link', 'New Link') }}
                {{ render_nav_item('pages.upload_image', 'Upload Image') }}
                {{ render_nav_item('pages.events', 'Events') }}
                {{ render_nav_item('pages.logs', 'Logs') }}
                {% else %}
                {{ render_nav_item('pages.links', 'Links', ) }}
                {% endif %}
            </ul>
        </div>
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/web/auth/logout">Logout</a></li>
                <span class="navbar-text"> [ You are logged in as <b>{{ current_user.name }} </b> ]</span>
            </ul>
            {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/web/auth/register">Create account</a></li>
            </ul>
            <form class="d-flex" action="/web/auth/login" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input class="form-control me-1" name="email" type="text" placeholder="email" aria-label="email">
                <input class="form-control me-1" name="password" type="password" placeholder="password" aria-label="password">
                <button class="btn btn-outline-primary" type="submit">Login</a></button>
            </form>
            <ul class="navbar-nav mr-auto">
                <span class="navbar-text"> [ You are not logged ] </span>
            </ul>
            {% endif %}
        </div>
    </nav>
    
    <main class="container">
        {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2023–2023
            </small>
        {% endblock %}
    </footer>
    {{ bootstrap.load_js() }}
</body>
</html>