<!DOCTYPE html>
{% extends 'base.html' %}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'bootstrap5/pagination.html' import render_pager, render_pagination %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<html>
<head>
    <title>Links</title>
</head>
<body>
    <h3>Links</h3>
    <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ render_form_row([filter.available, filter.domain, filter.suffix],
        col_map={'available': 'col-md-2', 'domain': 'col-md-2', 'suffix': 'col-md-2'}) }}
    {{ render_form_row([filter.submit]) }}
    </form>
    {{ render_table(data, titles, urlize_columns=('url'), show_actions=True, model=Link,
                view_url=('pages.view_link', [('link_id', ':id')]),
                delete_url=('pages.delete_link', [('link_id', ':id')]), ) }}
    {{ render_pagination(pagination) }}
</body>
</html>
{% endblock %}