<!DOCTYPE html>
{% extends 'base.html' %}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'bootstrap5/pagination.html' import render_pager, render_pagination %}
{% block content %}
<html>
<head>
    <title>Links</title>
</head>
<body>
    <h1>Links</h1>
    {{ render_table(data, titles, urlize_columns=('id'), show_actions=True, model=Link,
                view_url=('pages.view_link', [('link_id', ':id')]),
                delete_url=('pages.delete_link', [('link_id', ':id')]), ) }}
    {{ render_pager(pagination) }}
</body>
</html>
{% endblock %}