<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>{{ link.id }}</title>
</head>
<body>
    <h3>{{ link.id }}</h3>
    <h4>{{ url }}</h4>
    <h6>link status - {{ link.linkstatus }}</h6>
    <h6>available - {{ link.available }}</h6>
    <h6>last time - {{ link.lasttime }}</h6>
    {% if link.filedata %}
    <img src= {{ url_for('pages.get_image', pid=link.id) }} width="400" height="400">
    {% endif %}
    {% if link.events %}
    <h6>Events: </h6>
    <ul>
        {% for event in link.events %}
          <li>{{ event.timestamp }}  {{ event.event }} </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
{% endblock %}