flask==2.2.3
sqlalchemy==2.0.17
pydantic==1.10.9
pydantic-settings-yaml==0.1.1
flask_jwt_extended
flask_sqlalchemy
alembic==1.11.1
Flask-Migrate==4.0.4
asyncpg==0.27.0
psycopg2-binary==2.9.6
gevent==22.10.2
redis==4.6.0
tldextract==3.4.4
celery==5.3.1
flask_swagger_ui==4.11.1
apispec==6.3.0
apispec_webframeworks==0.5.2
marshmallow==3.19.0
apscheduler==3.10.1
aiohttp==3.8.4
gunicorn==20.1.0
bootstrap-flask==2.2.0
flask-wtf==1.1.1